<header>
<nav class="top-bar"> 
<ul class="title-area">
    <!-- Title Area -->
    <li class="name">
      <h1><%= link_to "home", root_path, id: "logo" %></h1>
    </li> 
    </ul>
  <div class="login push-8 columns">
	<% if user_signed_in? %>
	  <p><%= link_to "Welcome!", edit_user_registration_path %> | <%= link_to "Sign out", destroy_user_session_path, method: :delete %></p>
	<% else %>
	  <p><%= link_to "Sign in", new_user_session_path %> | <%= link_to "Sign up", new_user_registration_path %></p>
	<% end %>
	</div>
  </nav>
</header>